img{
  width: 100%;
  height: 100%;
}
.swiper-pagination .swiper-pagination-bullet {
    width: .6rem;
    height: .6rem;
    display: inline-block;
    background: lime;
    opacity: .4;
    border-radius: 0;
}
.swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
    background: navajowhite;
}
.u-icon-servicePolicy-index{
    width: .5rem;
    height: .5rem;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.el-row{
  margin: 0 0 .26667rem 0 ! important;
  height: 1rem;
  line-height: .96rem;
  background-color: #fff;
}
.icon {
  margin-left: .6rem;
}
.u-icon-go2 {
    display: inline-block;
    vertical-align: middle;
    background-image: url("http://yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/go2-3e511991d6.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 1rem;
    height: 1rem;
}
.m-indexFloor {
    margin-bottom: .26667rem;
    background-color: #fff;
}
.hd {
    display: flex;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    height: 3rem;
    font-size: 1.2rem;
}
.hd .more {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row nowrap;
    -moz-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    color: #333;
}
.m-indexManufacturersSupplying {
    padding-bottom: .3rem;
    width: 100%;
}
.m-indexManufacturersSupplying .list {
    position: relative;
    margin: 0 .4rem;
    height: 10rem;
    overflow: hidden;
}
.m-indexManufacturersSupplying .list .item:nth-child(1) {
    top: 0;
    left: 0;
    width: 12rem;
    height: 100%;
}
.m-indexManufacturersSupplying .list .item:nth-child(2) {
    top: 0;
}
.m-indexManufacturersSupplying .list .item:nth-child(2), .m-indexManufacturersSupplying .list .item:nth-child(3) {
    left: 12.5rem;
    width: 12.5rem;
    height: 5rem;
}
.m-indexManufacturersSupplying .list .item {
    position: absolute;
    overflow: hidden;
    background-color: #f4f4f4;
}
.m-indexManufacturersSupplying .list .item .cnt {
    position: absolute;
    left: 0;
    top: 0;
    padding: .4rem 0 0 .4rem;
    width: 100%;
    z-index: 4;
}
.m-indexManufacturersSupplying .list .item .cnt .title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #333;
    font-size: 1rem;
    line-height: 1.2;
    margin-bottom: .2rem;
}
.m-indexManufacturersSupplying .list .item .cnt .price {
    font-size: 0.8rem;
    color: #999;
    line-height: .4rem;
}
.m-indexManufacturersSupplying .list .item:nth-child(1) img {
    width: 100%;
    height: 100%;
}
.m-indexManufacturersSupplying .list .item:nth-child(2) img, .m-indexManufacturersSupplying .list .item:nth-child(3) img {
    position: absolute;
    right: 0;
    height: 100%;
}
.m-indexManufacturersSupplying .list .item:nth-child(3) {
    top: 50%;
    margin-top: .2rem;
}
/*新品首发*/
.new-fast .hd {
    background: url("http://yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/bitmap-8720195ff9.png");
    background-size: 100% 100%;
    height: 6rem;
    position: relative;
    background-color: #fff;
}
.new-fast .more  {
    display: block;
    text-align: center;
    font-size: 1.4rem;
}
.more {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    color: #333;
}
.more .all {
    position: relative;
    margin: .3rem auto 0;
    width: 7rem;
    height: 2rem;
    font-size: 1rem;
    line-height: 2rem;
    background: #D8E5F1;
}
.arrow-right {
    background: url("http://yanxuan.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/arrow-right2-efef62d3cc.png");
    background-size: 100% 100%;
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-left: 0.3rem;
    margin-top: 0.4rem;
}
.new-fast .hd:after {
    content: '';
    display: block;
    position: absolute;
    height: 0;
    width: 0;
    border-top: .24rem solid #F3EBD9;
    border-bottom: .24rem solid transparent;
    border-right: .24rem solid transparent;
    border-left: .24rem solid transparent;
    bottom: -.46667rem;
    left: 4.88rem;
    z-index: 10;
}
/*滑动*/
#newItems{
  background-color: #fff;
    
}
.recommend-no-loop{
margin-bottom: .5rem;
}
.new-fast img {
    display: block;
    width: 9rem;
    height: 6rem;
}
.name {
    margin: .3rem auto .4rem;
    padding: 0 .26667rem;
    line-height: 1.5rem;
    text-align: left;
    font-size: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #333;
}
.newItemDesc {
    height: 1rem;
    display: block;
    font-size: 1rem;
    color: #666;
    line-height: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    padding: 0 .5rem;
}
.price {
    line-height: 1;
    font-size: 0.9rem;
    text-align: left;
    color: #b4282d;
    padding: 0 .3rem;
    text-align: center;
    margin-top: 0.5rem;
}
/*列表*/
.peoplehot {
  background-color: #fff;
  padding: 0 .4rem .3rem;
  height: 10rem;
}
.peoplehot .hottitle{
  		text-align: center;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.2rem;
      background-color: #fff;
}

.status.anniversary {
    background-color: #e5686d;
    border-radius: 2px;
    line-height: 0.9rem;
    
}
.status {
    height: 1rem;
    padding: .rem .2rem;
    line-height: 1rem;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
}
